[submodule "vim.symlink/bundle/nerdtree"]
	path = vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim.symlink/bundle/ack"]
	path = vim.symlink/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim.symlink/bundle/nerdcommenter"]
	path = vim.symlink/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim.symlink/bundle/tagbar"]
	path = vim.symlink/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim.symlink/bundle/jsbeautify"]
	path = vim.symlink/bundle/jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
