[submodule "vim.symlink/bundle/command-t"]
	path = vim.symlink/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim.symlink/bundle/nerdtree"]
	path = vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim.symlink/bundle/ack"]
	path = vim.symlink/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim.symlink/bundle/nerdcommenter"]
	path = vim.symlink/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim.symlink/bundle/tagbar"]
	path = vim.symlink/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
